@import "tailwindcss";

@theme {
  --font-monument-regular: 'Monument-Regular';
}

@theme {
  --font-monument-bold: 'Monument-Bold';
}

@theme {
  --font-monument-light: 'Monument-Light';
}

@font-face {
  font-family: "Monument-Light";
  src:
    url('./assets/fonts/Monument/PPMonumentExtended-Light.otf');
}

@font-face {
  font-family: "Monument-Regular";
  src:
    url('./assets/fonts/Monument/PPMonumentExtended-Regular.otf');
}

@font-face {
  font-family: "Monument-Bold";
  src:
    url('./assets/fonts/Monument/PPMonumentExtended-Black.otf');
}

#background-image {
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #1c1c1c;
}
